<body>
    <div style="margin: 2%;">

        <h5 style="font-weight: bold; margin-bottom: 30%">OZONE</h5>
        <p>
            Ozone is a gas composed of three atoms of oxygen. Ozone occurs both in the Earth's upper atmosphere and at ground level. Ozone can be good or bad, depending on where it is found. When inhaled, ozone can damage the lungs. Relatively low amounts of ozone
            can cause chest pain, coughing, shortness of breath and, throat irritation. It may also worsen chronic respiratory diseases such as asthma as well as compromise the ability of the body to fight respiratory infections. Ozone Control Strategies...</p>
        <ul>
            <li> Vapor recovery nozzles at the gasoline pumps to reduce refueling emissions
            </li>
            <li> Cleaner burning gasoline reformulated to reduce VOC, NOx and other pollutants
            </li>
            <li>
                Strict NOx emission limits for power plants and industrial combustion sources
            </li>
            <li> Enhanced vehicle inspection programs in states </li>
        </ul>
        <button mat-flat-button color="accent" [routerLink]="['../']">Back</button></div>
</body>