<body>
    <ngx-spinner>
    </ngx-spinner>

    <div style="margin-bottom: 40%;">

        <button *ngIf="isMobile" class="dark-mode">
    <mat-slide-toggle matTooltip="{{theme }}" (click)="switchTheme()">{{theme === "light-theme" ? "Dark" : "Light" }}</mat-slide-toggle>

</button>
        <div id="card-container">
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['CO']">
                    <h5>CO</h5>
                </mat-card>
            </div>
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['NH3']">
                    <h5>NH3</h5>
                </mat-card>
            </div>
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['NO2']">
                    <h5>NO2</h5>
                </mat-card>
            </div>
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['OZONE']">
                    <h5>OZONE</h5>
                </mat-card>
            </div>
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['SO2']">
                    <h5>SO2</h5>
                </mat-card>
            </div>
            <div class="wrapper">
                <mat-card class="short" [routerLink]="['fine-particles']">
                    <h5>Fine-Particles</h5>
                </mat-card>
            </div>
        </div>

        <button *ngIf="isOpenFromPollutionComponent" mat-flat-button color="accent" [routerLink]="['../']">Back</button></div>
</body>