mat-card {
    /* max-width: 150px; */
    margin: 4px;
    box-shadow: 0px 2px 11px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    width: 100%;
    text-align: center;
}

#card-container {
    flex-flow: row wrap;
    display: flex;
}

.short {
    /* width: 100%; */
    cursor: pointer;
    text-overflow: ellipsis;
}


/* .current-location {
    width: auto;
    margin: 4px;
} */

.wrapper {
    width: 30%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    margin-left: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
}