<body>
    <h2 *ngIf="weatherDetailShow">Please Refresh The Page</h2>
    <div *ngIf="!weatherDetailShow" style="margin-top: 3%;   margin-bottom: 40%; ">
        <mat-accordion *ngIf="current && current.cityName.length > 0">
            <mat-expansion-panel [expanded]=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{current.time. slice(0, 10)}} </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{current.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div style="text-align: left;color: #fff;">
                    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
                        <i class="fas fa-3x fa-sun sun"></i></div>
                    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
                        <i class="fas fa-3x fa-moon moon"></i>
                    </div>
                    <div class="weatherWidgetRow cloudDiv">
                        <i class="fas fa-cloud fa-3x cloud"></i>
                    </div>
                </div>
                <div class="weatherWidgetRow temp">{{(current.temp-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow avg-temp">{{(current.temp_min -275.15).toFixed(2)}}° / {{(current.temp_max -275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{(current.feels_like -275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow city-name">{{current.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{current.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{current.time}}%</div>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="old" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{old.time. slice(0, 10)}}
                    </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{old.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="weatherWidgetRow temp">{{(old.temp-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow avg-temp">{{(old.temp_min-275.15).toFixed(2)}}° / {{(old.temp_max-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{(old.feels_like-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow city-name">{{old.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{old.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{old.time}}%</div>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="second_old" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{second_old.time. slice(0, 10)}} </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{second_old.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="weatherWidgetRow temp">{{(second_old.temp-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow avg-temp">{{(second_old.temp_min-275.15).toFixed(2)}}° / {{(second_old.temp_max-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{(second_old.feels_like-275.15).toFixed(2)}}°</div>
                <div class="weatherWidgetRow city-name">{{second_old.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{second_old.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{second_old.time}}%</div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</body>
<ngx-spinner></ngx-spinner>