<body>
    <div style="margin-top: 3%;   margin-bottom: 40%;
    ">
        <mat-accordion *ngIf="current && current.cityName.length > 0">
            <mat-expansion-panel [expanded]=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{current.time. slice(0, 10)}} </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{current.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="weatherWidgetRow temp">{{current.temp}}°</div>
                <div class="weatherWidgetRow avg-temp">{{current.temp_min}}° / {{current.temp_max}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{current.feels_like}}°</div>
                <div class="weatherWidgetRow city-name">{{current.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{current.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{current.time}}%</div>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="old" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{old.time. slice(0, 10)}}
                    </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{old.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="weatherWidgetRow temp">{{old.temp}}°</div>
                <div class="weatherWidgetRow avg-temp">{{old.temp_min}}° / {{old.temp_max}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{old.feels_like}}°</div>
                <div class="weatherWidgetRow city-name">{{old.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{old.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{old.time}}%</div>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="second_old" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{second_old.time. slice(0, 10)}} </mat-panel-title>
                    <mat-panel-description>
                        weather Detail of {{second_old.time}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="weatherWidgetRow temp">{{second_old.temp}}°</div>
                <div class="weatherWidgetRow avg-temp">{{second_old.temp_min}}° / {{second_old.temp_max}}°</div>
                <div class="weatherWidgetRow feels-like">Feels Like: {{second_old.feels_like}}°</div>
                <div class="weatherWidgetRow city-name">{{second_old.cityName}}</div>
                <div class="weatherWidgetRow humidity">Humidity: {{second_old.humidity}}%</div>
                <div class="weatherWidgetRow time">Weather Detail at : {{second_old.time}}%</div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</body>
<ngx-spinner></ngx-spinner>