#list {
    border-radius: 10px;
    height: 100%;
    background: transparent;
    padding: 0% !important;
    position: absolute;
    left: 20%;
}

.mat-list-icon {
    margin-top: 25%;
}

#bottom-nav {
    position: absolute;
    bottom: 0;
    height: 8%;
}

#sidenav.menu-close {
    width: 5.5%;
    background-color: var(--white);
    font-size: 15px;
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 0;
    left: 0;
    margin-top: 0% !important;
    padding: 0% !important;
}

#sidenav.menu-open {
    width: 19%;
    align-items: center;
    background-color: var(--white);
    position: absolute;
    margin-left: 0%;
    margin-top: 0% !important;
    align-items: left !important;
    font-weight: bold;
}

#my-app {
    position: absolute;
    top: 2%;
    margin-left: 9%;
    font-size: 120%;
}

 ::ng-deep .mat-tooltip {
    font-size: 130%;
}

@media screen and (min-width: 200px) and (max-width: 299px) {
    #toolbar-menu {
        margin-top: 60%;
        font-size: 150% !important;
    }
    .sidenavContainer {
        margin-top: 15% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 18%;
        font-size: 100%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 20.5%;
    }
    #sidenav.menu-open {
        width: 35.5% !important;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        font-size: 90%;
        margin-left: 40% !important;
        margin-top: 0%!important;
    }
    #dropdownIcon {
        font-size: 240% !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 399px) {
    #toolbar-menu {
        margin-top: 60%;
        font-size: 150% !important;
    }
    .sidenavContainer {
        margin-top: 12.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 15%;
        font-size: 110%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 16.5%;
    }
    #sidenav.menu-open {
        width: 35.5% !important;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        font-size: 90%;
        margin-left: 50% !important;
        margin-top: 0%!important;
    }
    #dropdownIcon {
        font-size: 240% !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    #toolbar-menu {
        margin-top: 60%;
        font-size: 150% !important;
    }
    .sidenavContainer {
        margin-top: 9.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 12%;
        font-size: 120%;
        margin-bottom: 13% !important;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 13.5%;
    }
    #sidenav.menu-open {
        width: 29.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        font-size: 90%;
        margin-left: 55% !important;
        margin-top: 0%!important;
    }
    #dropdownIcon {
        font-size: 240% !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 629px) {
    #toolbar-menu {
        margin-top: 60%;
        font-size: 150% !important;
    }
    .sidenavContainer {
        margin-top: 7.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 10%;
        font-size: 120%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 10.5%;
    }
    #sidenav.menu-open {
        width: 22.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        font-size: 90%;
        margin-left: 60% !important;
        margin-top: 0%!important;
    }
    #dropdownIcon {
        font-size: 240% !important;
    }
}

@media screen and (min-width: 630px) and (max-width: 764px) {
    #toolbar-menu {
        margin-top: 60%;
    }
    .sidenavContainer {
        margin-top: 6.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 9%;
        font-size: 120%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 9.5%;
    }
    #sidenav.menu-open {
        width: 20.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 65% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 765px) and (max-width: 768px) {
    .sidenavContainer {
        margin-top: 9.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    .dark-mode-toggle {
        margin-left: 7% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
    #toolbar-menu {
        margin-top: 50%;
    }
    .sidenavContainer {
        margin-top: 5.9%;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 8%;
        font-size: 120%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 8.5%;
    }
    #sidenav.menu-open {
        width: 21.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 75% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1022px) {
    #toolbar-menu {
        margin-top: 50%;
    }
    .sidenavContainer {
        margin-top: 4.9% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 6%;
        font-size: 120%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 7.5%;
    }
    #sidenav.menu-open {
        width: 16.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 75% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 970px) and (max-width: 1122px) {
    #toolbar-menu {
        margin-top: 20%;
    }
    .sidenavContainer {
        margin-top: 4.4% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 6%;
        font-size: 150%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 10%;
    }
    #sidenav.menu-close {
        width: 5.5%;
    }
    #sidenav.menu-open {
        width: 18.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 80% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1051px) {
    #toolbar-menu {
        margin-top: 20%;
    }
    .sidenavContainer {
        margin-top: 7.4% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 6%;
        font-size: 150%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 7%;
    }
    #sidenav.menu-close {
        width: 5.5%;
    }
    #sidenav.menu-open {
        width: 18.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 80% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 1052px) and (max-width: 1301px) {
    #toolbar-menu {
        margin-top: 40%;
    }
    .sidenavContainer {
        margin-top: 3.4% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 5%;
        font-size: 130%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 5.5%;
    }
    #sidenav.menu-open {
        width: 16.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 80% !important;
        margin-top: 0%!important;
    }
}

@media screen and (min-width: 1301px) and (max-width: 2001px) {
    #toolbar-menu {
        margin-top: 20%;
    }
    .sidenavContainer {
        margin-top: 3.4% !important;
        overflow: hidden;
        height: calc(100%-4.5%);
        overflow: hidden;
    }
    #my-app {
        position: absolute;
        top: 1.5%;
        margin-left: 6%;
        font-size: 150%;
    }
    #main-toolbar {
        padding: 0 !important;
        height: 9%;
    }
    #sidenav.menu-close {
        width: 5.5%;
    }
    #sidenav.menu-open {
        width: 16.5%;
        margin-top: 0% !important;
    }
    .dark-mode-toggle {
        margin-left: 80% !important;
        margin-top: 0%!important;
    }
}

#list-details {
    position: absolute;
    width: 100%;
}

#main-toolbar {
    padding: 0 !important;
}

.sidenavContainer1 {
    margin-top: 35%;
    overflow: hidden;
    height: 100%;
}

.list-name {
    font-size: 1520%;
    align-items: center;
    margin-left: 10%;
    align-self: center;
    font-weight: bold;
}

#sidenav {
    font-size: 130%;
    overflow: hidden;
    padding: 0% !important;
}

mat-icon {
    border: none;
}

#sidenav .menu-item {
    border-radius: 5;
    text-align: left;
    align-items: center;
}

#sidenav #icon-list:hover {
    background: var(--pink);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#sidenav #list:hover {
    background: var(--pink);
    color: var(--white);
    font-size: 15px;
    height: 100%;
    width: 90%;
    position: absolute;
    border-radius: 10px;
    height: 100%;
    padding: 0% !important;
    margin-left: 1%;
    align-items: center;
}

.icon:hover {
    color: var(--white);
}

#toolbar-menu {
    cursor: pointer;
    margin-left: 60%;
    font-size: 170%;
    padding: 0% !important;
}

#sidenav .active {
    color: black;
    background: var(--blue);
    height: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


/* #mat-list {
    padding: 0 !important;
} */

body {
    overflow: hidden;
}

ngx-bottom-nav {
    padding-bottom: 5px;
    z-index: 1;
    background-color: #283499;
}

.icon {
    color: white;
    font-size: 170%;
    /* margin-top: 50%; */
    position: absolute;
    left: 20%;
    bottom: 25%;
}

.icon1 {
    position: relative;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 1.5%;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
    min-width: 52px !important;
}

.list-at-center {
    padding: 2%;
    width: 95%;
    cursor: pointer;
}

.list-align {
    margin-top: 2%;
    padding-left: 5%;
}

.home-icon {
    font-size: 250%;
    margin-left: 100%;
    margin-left: 1%;
    margin-top: 40%;
}

.style-for-close-navbar {
    padding: 0%;
    width: 1%;
    cursor: pointer;
    margin-left: 0%;
}

.dark-mode-toggle {
    margin-left: 80%;
    font-weight: bold;
    border: none;
    background-color: #3F51B5;
    color: white;
    border: none;
}

.menuForLogin {
    margin-left: 3%;
    border: none;
}

#dropdownIcon {
    font-weight: bold;
    font-size: 300%;
    margin-right: 50% !important;
    float: right;
    border: none;
}

#device-dropdownIcon {
    font-size: 300%;
    font-weight: bold;
    margin-left: 500%;
}

.mat-menu {
    position: absolute;
    margin-left: 500%;
}

.login-form-for-device {
    margin-top: 100%;
    margin-right: 60%;
}