<body>

    <div style="margin: 2%; margin-bottom: 30%">
        <h5 style="font-weight: bold;">Nitrogen Dioxide</h5>

        <p>
            Nitrogen dioxide, or NO2, is a gaseous air pollutant composed of nitrogen and oxygen and is one of a group of related gases called nitrogen oxides, or NOx. NO2 forms when fossil fuels such as coal, oil, gas or diesel are burned at high temperatures also
            Cars, trucks, and buses are the largest sources of emissions, followed by power plants, diesel-powered heavy construction equipment and other movable engines, and industrial boilers.health concerns related to Nitrogen dioxide exposure include:
        </p>
        <ul>
            <li>Increased inflammation of the airways;</li>
            <li>Worsened cough and wheezing</li>
            <li>Reduced lung function</li>
            <li>Increased asthma attacks</li>
        </ul>
        <p>we can reduce NO2 from air by Keep gas appliances properly adjusted, Consider purchasing a vented space heater when replacing an un-vented one, Use proper fuel in kerosene space heaters, Install and use an exhaust fan vented to outdoors over gas
            stoves, Open flues when fireplaces are in use.</p>
        <button mat-flat-button color="accent" [routerLink]="['../']">Back</button></div>
</body>