<body>
    <div style="margin: 2%; margin-bottom: 30%">

        <h5 style="font-weight: bold;">SO2</h5>
        <p>Sulfur dioxide (SO2), a colorless, bad-smelling, toxic gas, so2 is air pollutant composed of sulfur and oxygen. SO2 forms when sulfur-containing fuel such as coal, oil, or diesel is burned. SO2 produces acid rain Sulfur dioxide can contribute
            to respiratory illness by making breathing more difficult, especially for children, the elderly, and those with pre-existing conditions. Longer exposures can aggravate existing heart and lung conditions, as well. alsoaffects the respiratory
            system, particularly lung function, and can irritate the eyes. Sulfur dioxide irritates the respiratory tract and increases the risk of tract infections. It causes coughing, mucus secretion and aggravates conditions such as asthma and chronic
            bronchitis. there are the 3 ways to reduce sulfur dioxide They include:</p>
        <ul>
            <li> improved efficiency of conversion of fuel to electricity (this would reduce pollutant emissions per unit of electricity generated)
            </li>
            <li> shift to nuclear generation as rapidly as possible since no sulfur oxide (or particulate) is emitted from nuclear plants
            </li>
            <li> shift fossil fuel plants to lower sulfur fuels </li>
        </ul>
        <button mat-flat-button color="accent" [routerLink]="['../']">Back</button></div>
</body>