<body>
    <div style="margin: 2%; margin-bottom: 40%">

        <h2>Fine Particles (PM 2.5) </h2>
        <p> Particle pollution — also called particulate matter (PM) — is made up of particles (tiny pieces) of solids or liquids that are in the air.The widths of the larger particles in the PM2.5 size range would be about thirty times smaller than that
            of a human hair. These particles may include: Dust Dirt Soot Smoke Drops of liquid Some particles are big enough (or appear dark enough) to see — for example, you can often see smoke in the air. Others are so small that you can’t see them
            in the air.</p>

        Particle pollution can come from two different kinds of sources like-wood stoves, forest fires, Power plants and coal fires also factories, cars and trucks, and construction sites can produce large number of particles. Health effects due to particle pollution
        are...
        <ul>
            <li>Eye irritation.</li>
            <li>Lung and throat irritation. </li>
            <li>Trouble breathing.
            </li>
            <li>Lung cancer. </li>
            <li>Problems with babies at birth.</li>
            <li></li>
        </ul>
        <button mat-flat-button color="accent" [routerLink]="['../']">Back</button>
    </div>
</body>