<body>
    <div style="margin: 2%; margin-bottom: 30%">
        <h5 style="font-weight: bold;">Ammonia</h5>
        <p>Ammonia (NH3) is the most abundant alkaline gas in the atmosphere. It originates from both natural and anthropogenic sources, with the main source being agriculture, e.g. manures, slurries, fertiliser application and Other agriculture-related
            emissions of ammonia include biomass burning or fertiliser manufacture. Exposure to high concentrations of ammonia in the environment can cause irritation to eyes, nose and throat as well as skin. Long-term health concerns related to ammonia
            exposure include:</p>
        <ul style="margin-left: 5%;">
            <li>severe cardiovascular and respiratory effects</li>
            <li>decreased lung function</li>
            <li> asthma</li>
            <li>premature death</li>
        </ul>

        <button mat-flat-button color="accent" [routerLink]="['../']">Back</button>
    </div>
</body>