/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --violet: #9c27b0;
    --light-violet: rgb(201, 164, 218);
    --pink: rgb(236, 23, 76);
    --white: rgb(248, 248, 248);
    --yellow: #ffff00
}

html,
body {
    height: 90%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper {
    height: 100%;
    text-align: -webkit-center;
}

.positronx {
    text-decoration: none;
    color: #ffffff;
}

.box {
    position: absolute;
    top: 0;
    opacity: 1;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 430px;
}

.box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
}

.box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
}


/* 
.login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
} */

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
    width: 100%;
}

.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.login-wrapper .mat-card {
    padding: 10px 70px 20px;
}

@media screen and (min-width: 201px) and (max-width: 300px) {
    .login-wrapper .mat-card {
        padding: 10px 70px 9px;
        margin-top: 10%;
    }
}

@media screen and (min-width: 301px) and (max-width: 400px) {
    .login-wrapper .mat-card {
        padding: 10px 70px 9px;
        margin-top: 10%;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    .login-wrapper .mat-card {
        margin-top: 10%;
    }
}

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid rgb(23, 2, 141);
    border-color: rgb(252, 6, 198) transparent rgb(0, 183, 255) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-theme {
    --background-color: #f5f5f5;
    --text-color: #1a1a1a;
    --box-color: #fff;
    --button-color: #fff;
    --box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

.dark-theme {
    --background-color: #1a1a1a;
    --box-color: #2b2b2b;
    --button-color: #1a1a1a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
}

.dark-theme h1 {
    color: #f5f5f5;
}

.dark-theme h2 {
    color: #f5f5f5;
}

.dark-theme h5 {
    color: #f5f5f5;
}

.dark-theme h3 {
    color: #f5f5f5;
}

.dark-theme h4 {
    color: #f5f5f5;
}

.dark-theme #main-toolbar {
    background-color: rgb(224, 77, 224)!important;
}

.dark-theme .mat-drawer-inner-container {
    background-color: rgb(228, 151, 228) !important;
}

.dark-theme mat-card {
    background-color: #df7589;
}

.dark-theme .mat-expansion-panel-body {
    background-color: #df7589;
}

.dark-theme .mat-expansion-panel-header {
    background-color: #df7589;
}

.dark-theme .box:before {
    background-color: #df7589;
    margin-top: 5%;
}