mat-card {
    margin: 4px;
    box-shadow: 0px 2px 11px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}

#card-container {
    flex-flow: row wrap;
    display: flex;
}

.wrapper {
    width: 60%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    margin-left: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.back-button {
    margin: 5%;
}

.card {
    width: 50%;
    margin-top: 3%;
    text-align: center;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .wrapper {
        width: 90%;
    }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    .wrapper {
        width: 130%;
    }
}

@media screen and (min-width: 100px) and (max-width: 399px) {
    .wrapper {
        width: 250%;
    }
}